html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-family: "Open Sans", sans-serif;
  position: relative;
  margin: 0;
  min-height: 100vh;
}

main {
  height: 100%;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  background: url("../img/bg.png");
  z-index: -1;
  outline: none;
}

h1 {
  color: #452e76;
  font-weight: bold;
  text-align: center;
  font-size: 3rem;
  padding: 40px 0 20px;
  margin: 0;
  transition: all 0.4s ease-in-out;
  opacity: 0;
  animation: appear 0.8s forwards;
}

.activeMember {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 100;
  overflow: hidden;
  background: url("../img/background.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.6s ease-in-out;
}
.activeMember .leftArrow {
  width: 100px;
  position: absolute;
  top: calc(50% - 50px);
  left: 0;
  cursor: pointer;
}
.activeMember .rightArrow {
  width: 100px;
  position: absolute;
  top: calc(50% - 50px);
  right: 0;
  cursor: pointer;
}
.activeMember .leftArrow:hover, .activeMember .rightArrow:hover {
  animation: breathing 1s infinite ease-in-out;
}
.activeMember .closeX {
  width: 50px;
  position: absolute;
  top: 25px;
  right: 25px;
  cursor: pointer;
}
.activeMember .closeX:hover {
  transform: scale(1.2);
  transition: all 0.6s ease-in-out;
}
.activeMember .middlePart {
  text-align: center;
  position: absolute;
  max-width: 75%;
  color: #fff;
  border: 4px dashed rgba(255, 255, 255, 0.3);
  padding: 20px;
}
.activeMember .middlePart .activePosition {
  font-size: 2.5rem;
  font-weight: 100;
  margin: 0;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}
.activeMember .middlePart .activeName {
  font-size: 4rem;
  font-weight: bold;
  margin: 0;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

.animatedUp {
  opacity: 0;
  animation: appear 0.3s forwards;
}

.animatedDown {
  opacity: 0;
  animation: appearDown 0.3s forwards;
}

.hidden {
  position: absolute;
  top: 0;
  left: -100%;
  opacity: 0;
}

section {
  display: flex;
  width: 800px;
  margin: auto;
  flex-wrap: wrap;
  justify-content: center;
  transition: all 0.8s ease-in-out;
}
section .staffMember:nth-of-type(1) {
  animation-delay: 0.4s;
}
section .staffMember:nth-of-type(2) {
  animation-delay: 0.6s;
}
section .staffMember:nth-of-type(3) {
  animation-delay: 0.8s;
}
section .staffMember:nth-of-type(4) {
  animation-delay: 1s;
}
section .staffMember:nth-of-type(5) {
  animation-delay: 1.2s;
}
section .staffMember:nth-of-type(10) {
  animation-delay: 0.4s;
}
section .staffMember:nth-of-type(9) {
  animation-delay: 0.6s;
}
section .staffMember:nth-of-type(8) {
  animation-delay: 0.8s;
}
section .staffMember:nth-of-type(7) {
  animation-delay: 1s;
}
section .staffMember:nth-of-type(6) {
  animation-delay: 1.2s;
}
section .staffMember {
  text-align: center;
  width: 160px;
  margin: 15px auto;
  position: relative;
  transition: all 0.4s ease-in-out;
  opacity: 0;
  animation: appear 0.5s forwards;
}
section .staffMember .mail {
  width: 30px;
  height: 30px;
  font-size: 0.8rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #452e76;
  color: #fff;
  position: absolute;
  right: 28px;
  top: 3px;
  z-index: 1;
}
section .staffMember .mail:hover {
  animation: breathing 1s ease-in-out infinite;
}
section .staffMember .filter {
  width: 114px;
  height: 114px;
  overflow: hidden;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.4s ease-in-out;
}
section .staffMember .blueLayer {
  background-color: #41c1dd;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 20;
  width: 114px;
  height: 114px;
  margin: auto;
  border-radius: 50%;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}
section .staffMember .blueLayer:hover {
  opacity: 0;
}
section .staffMember img {
  width: 120px;
  margin-left: -3px;
  filter: grayscale(100%);
  transition: all 0.4s ease-in-out;
}
section .staffMember .filter:hover img {
  filter: none;
}
section .staffMember .name {
  color: #452e76;
  font-weight: bold;
  margin: 10px 0 5px;
}
section .staffMember .position, section .staffMember .location {
  margin: 0;
  font-size: 0.7rem;
}
section .staffMember .position {
  color: #60cbe1;
}
section .staffMember .location {
  color: #777777;
}

@keyframes breathing {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}
@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes appearDown {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@media screen and (max-width: 800px) {
  body {
    height: 100%;
  }

  section {
    width: 90%;
  }

  .hidden {
    max-height: 100vh;
    overflow: hidden;
  }

  .activeMember .rightArrow {
    width: 50px;
    top: calc(50% - 25px);
  }
  .activeMember .leftArrow {
    width: 50px;
    top: calc(50% - 25px);
  }
  .activeMember .closeX {
    width: 30px;
    top: 10px;
    right: 10px;
  }
  .activeMember .middlePart {
    padding: 10px;
  }
  .activeMember .middlePart .activePosition {
    font-size: 1.4rem;
  }
  .activeMember .middlePart .activeName {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 430px) {
  .activeMember .middlePart {
    border: 2px dashed rgba(255, 255, 255, 0.3);
    padding: 5px;
  }
  .activeMember .middlePart .activePosition {
    font-size: 1.3rem;
  }
  .activeMember .middlePart .activeName {
    font-size: 2rem;
  }
}
@media screen and (min-width: 1300px) {
  h1 {
    font-size: 4rem;
    margin-bottom: 20px;
    padding-bottom: 30px;
  }

  section {
    width: 1200px;
  }
  section .staffMember {
    width: 220px;
  }
  section .staffMember .mail {
    width: 40px;
    height: 40px;
    font-size: 1.1rem;
    position: absolute;
    right: 40px;
    top: 3px;
  }
  section .staffMember .filter {
    width: 154px;
    height: 154px;
  }
  section .staffMember .blueLayer {
    width: 154px;
    height: 154px;
  }
  section .staffMember img {
    width: 160px;
  }
}
@media screen and (min-height: 850px) {
  h1 {
    padding-bottom: 10%;
  }
}

/*# sourceMappingURL=styles.css.map */
